In [1]:
%matplotlib inline
import pandas as pd
import geopandas as gpd
import nivapy3 as nivapy
import matplotlib.pyplot as plt
import fiona
import numpy as np
import cartopy
import matplotlib
import cartopy.crs as ccrs
from geopy.distance import geodesic

plt.style.use("ggplot")

In [2]:
eng = nivapy.da.connect()

Username:  ···
Password:  ········

Connection successful.

# 1000 Lakes 2019: Linking Aquamonitor to RESA2

Now that most/all analyses are complete, we want to link the data in Aquamnonitor to RESA, and do some cleaning & checking in the process.

## 1. Check existing AM - RESA links

Most of the 2019 lakes have been sampled previously in 1995, so connections already exist in most cases. These need checking.

### 1.1. Match AM IDs to RESA

In [3]:
# Read latest station details from AM
am_xls = r"../../1000_Lakes_AM_Export_2020-05-14.xlsx"
am_df = pd.read_excel(am_xls, sheet_name="StationPoint")
am_df = am_df[["StationId", "StationCode", "StationName", "Latitude", "Longitude"]]
am_df.columns = ["am_id", "am_code", "am_name", "am_lat", "am_lon"]

print(len(am_df["am_id"].unique()), "stations in AM.")

am_df.head()

1002 stations in AM.

   am_id   am_code     am_name     am_lat     am_lon
0  26070   221-1-2   Langtjern  59.808643  11.850274
1  26071   101-2-7   Hokksjøen  59.004423  11.563586
2  26072  402-2-13  Sætertjern  60.060222  12.446711
3  26073  419-1-25   Mjøgsjøen  60.328578  11.842186
4  26074   425-2-2     Kottern  60.590729  12.517008

In [4]:
# Get RESA IDs for these stations where links already exist
bind_stns = ",".join("(1, %d)" % i for i in am_df["am_id"].unique())
sql = (
    "SELECT station_id as am_id, "
    "  local_pk as resa_id "
    " FROM nivadatabase.datasource_station "
    "WHERE datasource_id = 11 "
    "AND (1, station_id) in (%s)" % bind_stns
)
df = pd.read_sql(sql, eng)

print(len(df), "stations are already linked to RESA.")

df.head()

981 stations are already linked to RESA.

   am_id  resa_id
0  46105    17957
1  46120    18073
2  46323    17854
3  46550    18013
4  46620    17809

In [5]:
# Get details for matching stations in RESA
resa_df = nivapy.da.select_resa_stations(eng)
resa_df = resa_df.query("station_id in @df.resa_id.unique()")

resa_df = resa_df[
    ["station_id", "station_code", "station_name", "latitude", "longitude"]
]
resa_df.columns = ["resa_id", "resa_code", "resa_name", "resa_lat", "resa_lon"]

print(len(resa_df), "matching stations found in RESA.")

resa_df.head()

19688 stations in the RESA database.
981 matching stations found in RESA.

   resa_id resa_code   resa_name   resa_lat   resa_lon
5        9   101-2-7   Hokksjøen  59.004421  11.563584
6       10   221-1-2   Langtjern  59.808647  11.850279
7       11  402-2-13  Sætertjern  60.060220  12.446706
8       12  419-1-25   Mjøgsjøen  60.328576  11.842177
9       13   425-2-2     Kottern  60.590732  12.517008

In [6]:
# Merge results
df = pd.merge(am_df, df, how="left", on="am_id")
df = pd.merge(df, resa_df, how="left", on="resa_id")

print(df["resa_id"].isna().sum(), "stations in AM are not yet linked to RESA.")
print(
    df["resa_lat"].isna().sum(),
    "stations in RESA do not have complete co-ordinate information.",
)

df.head()

21 stations in AM are not yet linked to RESA.
25 stations in RESA do not have complete co-ordinate information.

,am_id,am_code,am_name,am_lat,am_lon,resa_id,resa_code,resa_name,resa_lat,resa_lon
0,26070,221-1-2,Langtjern,59.808643,11.850274,10.0,221-1-2,Langtjern,59.808647,11.850279
1,26071,101-2-7,Hokksjøen,59.004423,11.563586,9.0,101-2-7,Hokksjøen,59.004421,11.563584
2,26072,402-2-13,Sætertjern,60.060222,12.446711,11.0,402-2-13,Sætertjern,60.060220,12.446706
3,26073,419-1-25,Mjøgsjøen,60.328578,11.842186,12.0,419-1-25,Mjøgsjøen,60.328576,11.842177
4,26074,425-2-2,Kottern,60.590729,12.517008,13.0,425-2-2,Kottern,60.590732,12.517008

### 1.2. Compare AM and RESA co-ordinates

In [7]:
def f(row):
    """ Calculate geodesic distance between locations in AM and RESA.
    """
    am_coords = (row["am_lat"], row["am_lon"])
    resa_coords = (row["resa_lat"], row["resa_lon"])
    return geodesic(am_coords, resa_coords).meters

In [8]:
# Add distances between points in AM and RESA
coord_df = df.dropna(subset=["am_lat", "am_lon", "resa_lat", "resa_lon"])
coord_df["distance_m"] = coord_df.apply(f, axis=1)

coord_df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,am_id,am_code,am_name,am_lat,am_lon,resa_id,resa_code,resa_name,resa_lat,resa_lon,distance_m
0,26070,221-1-2,Langtjern,59.808643,11.850274,10.0,221-1-2,Langtjern,59.808647,11.850279,0.566628
1,26071,101-2-7,Hokksjøen,59.004423,11.563586,9.0,101-2-7,Hokksjøen,59.004421,11.563584,0.316569
2,26072,402-2-13,Sætertjern,60.060222,12.446711,11.0,402-2-13,Sætertjern,60.060220,12.446706,0.388633
3,26073,419-1-25,Mjøgsjøen,60.328578,11.842186,12.0,419-1-25,Mjøgsjøen,60.328576,11.842177,0.547998
4,26074,425-2-2,Kottern,60.590729,12.517008,13.0,425-2-2,Kottern,60.590732,12.517008,0.263258

### 1.3. Compare AM and RESA lake IDs from NVE

In [9]:
# Get layers in NVE lakes GDB
gdb_path = r"../../NVEData.gdb"
layer_list = fiona.listlayers(gdb_path)
print(layer_list)

['Innsjo']

In [10]:
# Read lakes dataset
gdf = gpd.read_file(gdb_path, layer="Innsjo")

# Link AM coords to lakes
coord_df = nivapy.spatial.identify_point_in_polygon(
    coord_df,
    gdf,
    pt_col="am_id",
    poly_col="vatnLnr",
    lat_col="am_lat",
    lon_col="am_lon",
)

# Join NVE name
coord_df = pd.merge(coord_df, gdf[["vatnLnr", "navn"]], how="left", on="vatnLnr")

coord_df.rename({"vatnLnr": "am_nve_id", "navn": "am_nve_name"}, axis=1, inplace=True)

# Link RESA coords to lakes
coord_df = nivapy.spatial.identify_point_in_polygon(
    coord_df,
    gdf,
    pt_col="resa_id",
    poly_col="vatnLnr",
    lat_col="resa_lat",
    lon_col="resa_lon",
)

# Join NVE name
coord_df = pd.merge(coord_df, gdf[["vatnLnr", "navn"]], how="left", on="vatnLnr")

coord_df.rename(
    {"vatnLnr": "resa_nve_id", "navn": "resa_nve_name"}, axis=1, inplace=True
)

coord_df.head()

,am_id,am_code,am_name,am_lat,am_lon,resa_id,resa_code,resa_name,resa_lat,resa_lon,distance_m,am_nve_id,am_nve_name,resa_nve_id,resa_nve_name
0,26070,221-1-2,Langtjern,59.808643,11.850274,10.0,221-1-2,Langtjern,59.808647,11.850279,0.566628,3208.0,Langtjenn,3208.0,Langtjenn
1,26071,101-2-7,Hokksjøen,59.004423,11.563586,9.0,101-2-7,Hokksjøen,59.004421,11.563584,0.316569,3608.0,Hokksjøen,3608.0,Hokksjøen
2,26072,402-2-13,Sætertjern,60.060222,12.446711,11.0,402-2-13,Sætertjern,60.060220,12.446706,0.388633,4332.0,Sætertjenn,4332.0,Sætertjenn
3,26073,419-1-25,Mjøgsjøen,60.328578,11.842186,12.0,419-1-25,Mjøgsjøen,60.328576,11.842177,0.547998,4055.0,Mjøgsjøen,4055.0,Mjøgsjøen
4,26074,425-2-2,Kottern,60.590729,12.517008,13.0,425-2-2,Kottern,60.590732,12.517008,0.263258,3794.0,Kottern,3794.0,Kottern

## 2. Quality assess existing AM - RESA links

### 2.1. Identify inconsistent stations

In [11]:
# Stations where codes don't match
coord_df.query("am_code != resa_code")

,am_id,am_code,am_name,am_lat,am_lon,resa_id,resa_code,resa_name,resa_lat,resa_lon,distance_m,am_nve_id,am_nve_name,resa_nve_id,resa_nve_name
119,26199,419-3-2,Storbørja,60.091,11.912,191.0,402-604,Storbørja,60.091292,11.927417,858.498227,368.0,Storbørja,NaN,NaN

In [12]:
# Stations where NVE lake IDs don't match
coord_df.query("am_nve_id != resa_nve_id").dropna(subset=["resa_nve_id"])

,am_id,am_code,am_name,am_lat,am_lon,resa_id,resa_code,resa_name,resa_lat,resa_lon,distance_m,am_nve_id,am_nve_name,resa_nve_id,resa_nve_name
109,26186,402-1-28,Eintjern,60.072400,12.368182,3027.0,402-1-28,Eintjenn,60.074,12.345,1302.937084,4321.0,Eintjenn,4313.0,Kolbjørnsrudsjøen
328,26423,912-2-27,Ljøsvannet,61.132430,10.870015,3280.0,912-2-27,Ljøsvannet,58.757,8.901,286588.882538,33055.0,Store Ljøsvatnet,9183.0,Ljøsvannet
709,26821,1740-2-9,Storskorovatn,64.647186,13.060158,3707.0,1740-2-9,Storskorovatn,64.670,13.024,3074.629718,39432.0,Storskorovatnet,39394.0,Åttatjønna
748,26860,1836-2-14,Storvatnet,66.656207,13.226925,3749.0,1836-2-14,Storevatnet,66.663,13.247,1167.165665,44357.0,Storvatnet,44350.0,Litlvatnet
770,26882,1854-2-16,Stopålvatnet,68.362866,16.590626,3772.0,1854-2-16,Storpålvatnet,68.370,16.646,2414.065290,48666.0,Stopålvatnet,48662.0,Holmvatnet
944,27064,1825-1-9,Sivtjønna,65.176841,13.240496,3735.0,1825-1-9,Sivtjørna,65.179,13.252,590.397703,43247.0,Sivtjønna,43245.0,None

In [13]:
# Stations where NVE lake IDs don't match because resa_nve_id is NaN
coord_df.query(
    "(am_nve_id != resa_nve_id) and (resa_nve_id != resa_nve_id)"
).sort_values("distance_m", ascending=False)

,am_id,am_code,am_name,am_lat,am_lon,resa_id,resa_code,resa_name,resa_lat,resa_lon,distance_m,am_nve_id,am_nve_name,resa_nve_id,resa_nve_name
962,45671,2030-623,St. Sametti,69.471997,29.632787,15860.0,2030-623,ST.SAMETTI,69.488029,27.084386,99743.917606,2447.0,Sámetjávri,NaN,NaN
300,26390,829-4-6,Kviteseidvatnet,59.349741,8.580646,3244.0,829-4-6,Kviteseidvatnet,59.382000,8.465000,7494.002681,8.0,Kviteseidvatnet,NaN,NaN
900,27014,1711-3-1,Skurdalsvatnet,63.364094,12.090835,3918.0,1711-3-1,Skurdalsvatnet,63.372000,12.122000,1791.074048,736.0,Skurdalssjøen,NaN,NaN
202,26286,545-4-1,Bygdin,61.363000,8.386000,3134.0,545-4-1,Bygdin,61.349816,8.399882,1646.212866,146.0,Bygdin,NaN,NaN
75,26151,1640-603,Tufsingen,62.606772,11.894180,116.0,1640-603,Tufsingen,62.612294,11.876558,1094.271435,35326.0,Tufsingen,NaN,NaN
498,26606,1228-1-12,HOH 1367,60.028612,6.822722,3474.0,1228-1-12,HOH 1367,60.029401,6.840693,1005.730756,27782.0,None,NaN,NaN
119,26199,419-3-2,Storbørja,60.091000,11.912000,191.0,402-604,Storbørja,60.091292,11.927417,858.498227,368.0,Storbørja,NaN,NaN
74,26150,831-501,Brårvatn,59.297470,7.714567,115.0,831-501,Brårvatn,59.294921,7.727118,769.458227,14277.0,Brårvatn,NaN,NaN
76,26152,1228-501,Steinavatn,59.856352,6.571981,135.0,1228-501,Steinavatn,59.859877,6.578783,547.361873,1705.0,Steinavatnet,NaN,NaN
956,27076,1640-3-7,Midtre Muggsjøen,62.438933,12.172615,3917.0,1640-3-7,Midtre Muggsjøen,62.441000,12.180000,445.589577,1360.0,Midtre Muggsjøen,NaN,NaN
724,26836,1805-1-7,Vestfjordvatnan,68.411286,17.720459,3722.0,1805-1-7,Vestfjordvatnan,68.409000,17.718000,274.250814,48653.0,Vestfjordvatnan,NaN,NaN
412,26516,1046-2-23,Vassfellet,58.995111,6.803716,3379.0,1046-2-23,Vassfellet,58.995000,6.799000,271.353276,19305.0,Vassfellet,NaN,NaN
441,26545,1122-1-12,Langatjørn,58.913232,6.538413,3409.0,1122-1-12,Langatjørn,58.913000,6.534000,255.583903,19566.0,Langatjørn,NaN,NaN
649,26760,1634-1-8,Sattja,62.398336,9.273259,3640.0,1634-1-8,Sattja,62.398000,9.269000,223.433857,34454.0,Såttjønna,NaN,NaN
766,26878,1850-2-12,HOH 880,67.996912,16.954309,3768.0,1850-2-12,HOH 880,67.995000,16.954000,213.620154,45398.0,None,NaN,NaN
449,26554,1129-1-36,HOH 1061,59.173579,6.813190,3419.0,1129-1-36,HOH 1080,59.175000,6.811000,201.865879,25237.0,None,NaN,NaN
407,26511,1046-2-9,HOH 860,58.948330,7.116924,3374.0,1046-2-9,HOH 860,58.947000,7.115000,184.970215,165190.0,Vassfedle,NaN,NaN
750,26862,1837-3-3,Spilderdalsvatnet,66.876519,13.877538,3751.0,1837-3-3,Spilderdalsvatnet,66.875000,13.879000,181.097865,44049.0,Spilderdalsvatnet,NaN,NaN
208,26293,612-5-1,Tyrifjorden,59.918365,9.970012,3141.0,612-5-1,Tyrifjorden,59.918000,9.967000,173.339279,4966.0,Bergsjøen,NaN,NaN
887,26999,2027-1-4,HOH 329,69.975613,29.107342,3901.0,2027-1-4,HOH 329,69.976000,29.103000,171.521462,63380.0,None,NaN,NaN
419,26523,1046-3-21,Langavatn,58.825162,6.671380,3386.0,1046-3-21,Langavatn,58.824000,6.673000,159.718681,19834.0,Langevatn,NaN,NaN
333,26429,928-1-17,Krokevatn,58.430082,8.232697,3286.0,928-1-17,Krokevatn,58.429000,8.231000,156.098574,10836.0,Krokevatnet,NaN,NaN
505,26613,1231-1-9,HOH 1274,60.061047,7.326193,3483.0,1231-1-9,HOH 1274,60.060000,7.328000,154.045037,18902.0,None,NaN,NaN
814,26926,2011-2-5,Gakkesjavri,69.250686,24.123765,3820.0,2011-2-5,Gaggesjavri,69.251000,24.120000,152.984633,57825.0,Gákkešjávri,NaN,NaN
474,26581,1146-2-6,Ådnavatnet,59.363249,5.434388,3447.0,1146-2-6,Ådnavatnet,59.363000,5.437000,151.123162,22797.0,Ådnavatnet,NaN,NaN
16,26087,604-3-3,Hengsvatnet,59.656185,9.441521,26.0,604-3-3,Hengsvatnet,59.656902,9.443625,143.010561,398.0,Hengsvannet,NaN,NaN
901,27015,1438-1-16,HOH 770,61.686211,5.305873,73.0,1438-1-16,HOH 770,61.687000,5.308000,142.857887,28187.0,None,NaN,NaN
676,26787,1703-2-1,Gravvatnet,64.606235,11.724786,3668.0,1703-2-1,Gravvatnet,64.607000,11.727000,136.040855,39647.0,Gravvatnet,NaN,NaN
592,26702,1433-1-37,Svartevatnet,61.552277,5.694609,3578.0,1433-1-37,Svartevatnet,61.552000,5.697000,130.822597,28325.0,Svartevatnet,NaN,NaN
253,26339,633-2-21,Flåtåtjørni,60.243957,8.513168,3190.0,633-2-21,Flåtåtjørni,60.245031,8.512322,128.559508,17929.0,Flåtåtjønne,NaN,NaN
651,26762,1634-1-20,HOH 1057,62.699846,8.937477,3642.0,1634-1-20,Kamtjørnin,62.700000,8.935000,127.967845,66230.0,None,NaN,NaN
799,26911,1942-2-8,Gahkkorjavri,69.337086,21.657598,3804.0,1942-2-8,Gahkkorjavri,69.338000,21.656000,119.838931,52496.0,Gáhkkorjávri,NaN,NaN
489,26596,1219-1-22,Stemmevatnet,59.681783,5.196808,3463.0,1219-1-22,Stemmevatnet,59.681000,5.198000,110.058284,22310.0,Stemmevatnet,NaN,NaN
702,26814,1739-1-18,Laagkoenjuenientjonne,64.852965,13.737463,3700.0,1739-1-18,Laagkoenjuenientjonne,64.852000,13.737000,109.766565,38975.0,Laagkoenjuenientjonne,NaN,NaN
860,26972,2021-1-17,Hannoailaddut Nord,69.140905,24.986387,3870.0,2021-1-17,Hannoailaddut,69.141000,24.989000,104.429134,57962.0,None,NaN,NaN
352,26451,940-1-10,HOH 1114,59.121554,7.369634,3309.0,940-1-10,HOH 1114,59.121000,7.371000,99.626583,14900.0,None,NaN,NaN
378,26478,1004-1-2,Engelsvatnet,58.224868,6.664996,3337.0,1004-1-2,Engelsvatnet,58.224000,6.665000,96.727355,21881.0,Engelsvatnet,NaN,NaN
401,26505,1046-1-12,HOH 760,58.807294,6.638847,3367.0,1046-1-12,HOH 760,58.808000,6.638000,92.649599,19932.0,Indre Reinstjødn,NaN,NaN
590,26700,1432-1-25,Nes-Isvatnet,61.436081,6.318699,3575.0,1432-1-25,Ness-Isvatnet,61.436000,6.317000,91.130963,29599.0,Nes-Isvatnet,NaN,NaN
403,26507,1046-1-20,Litle Svartevatnet,58.658237,6.489644,3369.0,1046-1-20,Litle Svartevatnet,58.659000,6.490000,87.474542,20576.0,Lille Svartevatn,NaN,NaN
832,26944,2012-1-56,HOH 392,70.026864,22.843814,3839.0,2012-1-56,HOH 392,70.027000,22.846000,84.743816,56427.0,None,NaN,NaN
402,26506,1046-1-15,HOH 1041,58.936752,6.628669,3368.0,1046-1-15,HOH 1041,58.937000,6.630000,81.463271,19504.0,None,NaN,NaN
335,26432,929-1-5,Berlitjørnane,58.859092,8.616602,3289.0,929-1-5,Berlitjørnane,58.859000,8.618000,81.321620,8545.0,Berlitjønnane,NaN,NaN
437,26541,1121-2-17,Snorestadtjørnane,58.694151,5.841641,3405.0,1121-2-17,Snorestadtjørnane,58.694000,5.843000,80.570486,20353.0,Snorestadtjørnane,NaN,NaN
687,26798,1724-2-22,Bogatjørna,63.853429,10.571760,3681.0,1724-2-22,Bogatjørna,63.853000,10.573000,77.497752,38057.0,Bogatjønna,NaN,NaN
902,27016,935-1-19,Færetjørn,58.427876,7.959767,37.0,935-1-19,Færetjørn,58.428000,7.961000,73.385181,10834.0,Færetjørn,NaN,NaN
827,26939,2012-1-26,HOH 542,69.967588,22.434554,3834.0,2012-1-26,HOH 542,69.966996,22.434974,67.936756,53020.0,None,NaN,NaN
859,26971,2021-1-2,HOH 450,69.647796,24.664647,3869.0,2021-1-2,HOH 450,69.648000,24.663000,67.879445,NaN,NaN,NaN,NaN
927,27047,1046-1-29,Hyttevatnan,58.758409,6.918282,3371.0,1046-1-29,Hyttevatnan,58.759000,6.918000,67.802841,20159.0,Hyttevatnan,NaN,NaN
355,26454,940-1-24,HOH 1050,59.331729,7.647027,3312.0,940-1-24,HOH 1050,59.332000,7.646000,65.803998,190690.0,None,NaN,NaN
191,26275,544-1-27,HOH 1198,61.294602,8.845159,3123.0,544-1-27,HOH 1198,61.295000,8.846000,63.230147,32848.0,None,NaN,NaN
935,27055,1251-1-1,Tjørnadalsvatnet,60.532031,5.922873,3511.0,1251-1-1,Tjørnadalsvatnet,60.532000,5.924000,61.973738,26509.0,Tjørnadalsvatnet,NaN,NaN
236,26322,624-1-8,Grøntjern,59.715067,9.712956,3173.0,624-1-8,Grøntjern,59.715000,9.714000,59.207028,6127.0,Grønntjern,NaN,NaN
37,26110,1201-1-23,Knappatjørna,60.329958,5.262102,53.0,1201-1-23,HOH 60,60.329992,5.262997,49.602367,26786.0,Knappatjørna,NaN,NaN
296,26385,828-1-22,Sandtjørni,59.774205,8.382230,3239.0,828-1-22,Sandtjørni,59.774000,8.383000,48.957167,12670.0,Sandtjønn,NaN,NaN
703,26815,1739-1-28,Okstjørna,64.844350,13.565396,3701.0,1739-1-28,Okstjørna,64.844000,13.566000,48.456757,39029.0,Okstjønna,NaN,NaN
399,26503,1046-1-8,Småtjørnan,58.646990,6.806222,3365.0,1046-1-8,Småtjørnan,58.647000,6.807000,45.186671,20641.0,Småtjødnen,NaN,NaN
458,26563,1133-1-18,HOH 920,59.178108,6.523756,3429.0,1133-1-18,HOH 920,59.178000,6.523000,44.837843,25208.0,None,NaN,NaN
952,27072,2012-2-42,HOH 719,69.857640,22.605096,3843.0,2012-2-42,HOH 719,69.858000,22.605000,40.306356,53277.0,None,NaN,NaN
484,26591,1211-1-26,HOH 914,59.829128,6.491522,3457.0,1211-1-26,HOH 914,59.829000,6.492000,30.366703,23377.0,None,NaN,NaN

### 2.2. Map inconsistent sites

In [14]:
# All sites where code or NVE IDs do not match
err_df = coord_df.query("(am_code != resa_code) or (am_nve_id != resa_nve_id)")

# Convert co-ords to UTM Zone 33N
# AM
err_df = nivapy.spatial.wgs84_dd_to_utm(err_df, lat="am_lat", lon="am_lon")
err_df.rename({"utm_north": "am_north", "utm_east": "am_east"}, axis=1, inplace=True)

# RESA
err_df = nivapy.spatial.wgs84_dd_to_utm(err_df, lat="resa_lat", lon="resa_lon")
err_df.rename(
    {"utm_north": "resa_north", "utm_east": "resa_east"}, axis=1, inplace=True
)

err_df.head()

,am_id,am_code,am_name,am_lat,am_lon,resa_id,resa_code,resa_name,resa_lat,resa_lon,distance_m,am_nve_id,am_nve_name,resa_nve_id,resa_nve_name,am_north,am_east,utm_zone,resa_north,resa_east
16,26087,604-3-3,Hengsvatnet,59.656185,9.441521,26.0,604-3-3,Hengsvatnet,59.656902,9.443625,143.010561,398.0,Hengsvannet,NaN,NaN,6.626241e+06,186990.580571,33,6.626311e+06,187115.547496
37,26110,1201-1-23,Knappatjørna,60.329958,5.262102,53.0,1201-1-23,HOH 60,60.329992,5.262997,49.602367,26786.0,Knappatjørna,NaN,NaN,6.727909e+06,-36411.253686,33,6.727905e+06,-36361.622781
74,26150,831-501,Brårvatn,59.297470,7.714567,115.0,831-501,Brårvatn,59.294921,7.727118,769.458227,14277.0,Brårvatn,NaN,NaN,6.595877e+06,85588.002216,33,6.595516e+06,86269.002008
75,26151,1640-603,Tufsingen,62.606772,11.894180,116.0,1640-603,Tufsingen,62.612294,11.876558,1094.271435,35326.0,Tufsingen,NaN,NaN,6.945615e+06,340615.000056,33,6.946273e+06,339740.999859
76,26152,1228-501,Steinavatn,59.856352,6.571981,135.0,1228-501,Steinavatn,59.859877,6.578783,547.361873,1705.0,Steinavatnet,NaN,NaN,6.665470e+06,28716.007085,33,6.665812e+06,29145.007789

In [15]:
def chunker(df, size):
    """ Split a dataframe into chunks of length 'size'.
    """
    return (df[pos: pos + size] for pos in range(0, len(df), size))

In [16]:
# Size of square buffer around monitoring points
buff = 500

# Loop over chunks
for df_idx, df_part in enumerate(chunker(err_df.reset_index(drop=True), 20)):
    fig = plt.figure(figsize=(15, 20))

    # Loop over stations
    for idx, row in df_part.reset_index(drop=True).iterrows():
        zone = row["utm_zone"]
        am_north = row["am_north"]
        am_east = row["am_east"]
        resa_north = row["resa_north"]
        resa_east = row["resa_east"]

        # Get bounding box
        xmin = min(resa_east, am_east)
        xmax = max(resa_east, am_east)
        ymin = min(resa_north, am_north)
        ymax = max(resa_north, am_north)

        # Define co-ord system
        crs = ccrs.UTM(zone)

        # Plot
        ax = fig.add_subplot(5, 4, idx + 1, projection=crs)
        ax.set_extent([xmin - buff, xmax + buff, ymin - buff, ymax + buff], crs=crs)

        ax.add_wms(
            wms="https://openwms.statkart.no/skwms1/wms.topo4", layers=["topo4_WMS"]
        )

        ax.scatter(am_east, am_north, s=50, c="r", edgecolors="k", transform=crs)
        ax.scatter(
            resa_east, resa_north, s=50, c="yellow", edgecolors="k", transform=crs
        )

        ax.set_title(
            f"AM code {row['am_code']}\nSeparation: {int(row['distance_m'])} m",
            fontsize=12,
        )

    # Save
    out_png = r"../../grid_maps/resa_am_mismatch/grid_plot_%03d.png" % (df_idx + 1)
    plt.savefig(out_png, dpi=150)
    plt.clf()
    plt.close()

In [17]:
err_df.query('am_code =="402-1-28"')

,am_id,am_code,am_name,am_lat,am_lon,resa_id,resa_code,resa_name,resa_lat,resa_lon,distance_m,am_nve_id,am_nve_name,resa_nve_id,resa_nve_name,am_north,am_east,utm_zone,resa_north,resa_east
109,26186,402-1-28,Eintjern,60.0724,12.368182,3027.0,402-1-28,Eintjenn,60.074,12.345,1302.937084,4321.0,Eintjenn,4313.0,Kolbjørnsrudsjøen,6.662390e+06,353549.999798,33,6.662620e+06,352267.65293